body {
  background: rgb(182, 182, 255);
  background-image: url("https://www.psdgraphics.com/file/grunge-halftone.jpg");
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}
